.about-us {
  .about-us-heading {
    margin: 40px auto;
    .about-us-sub-heading {
      color: $pink-dark-color;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      margin-bottom: 5px;
      display: block;
    }
    .about-us__title {
      font-size: 44px;
      text-transform: capitalize;
      margin-bottom: 1.5rem;
    }
    .about-us__description {
      color: $global-color;
    }
  }
  .about-us-user {
    .img {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      display: block;
      background-size: cover;
      background-position: top center;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
    }
    .text {
      padding: 1rem 0;
      letter-spacing: 0.0625rem;
      span {
        color: $pink-dark-color;
        display: block;
        font-size: 1rem;
      }
    }

  }
}