@import "../abstracts/variables";
* {
  box-sizing: border-box;
}
.card__flex--center {
  display: flex;
  align-items: center;
}

.card__horizontal {
  display: flex;
  justify-content: space-between;
  background-color: $gray-normal;
  margin: 15px;
  .card__item {
    text-decoration: none;
    max-width: 150px;
    .card__image {
      img {
        width: map-get($spacers, 4);
        height: 100px;
        object-fit: cover;
      }
    }
    .card__information {
      @extend .card__flex--center;
      justify-content: space-between;
      background-color: $white-color;
      padding: 5px;
      .card__information--content {
        color: $gray-dark;
      }
      .btn--more {
        color: $gray-normal;
        outline: none;
        border-bottom: 1px solid $gray-dark;
        font-size: 10px;
      }
    }
  }
  &:hover {
    .card__image {
      img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        animation: transform 2s ease-in-out 0.5s;
        -webkit-transition: transform 2s ease-in-out 0.5s;
        -o-transition: transform 2s ease-in-out 0.5s;
      }
    }
  }
}


.card__vertical {
  background-color: $gray-normal;
  margin: 15px;
  .card__item {
    display: flex;
    text-decoration: none;
    margin: 15px 0;
    .card__image {
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
    .card__information {
      background-color: $white-color;
      padding: 10px 20px;
      width: 100%;
      .card__information--content {
        color: $gray-dark;
      }
      .btn--more {
        color: $gray-normal;
        outline: none;
        font-size: 10px;
        border-bottom: 1px solid $gray-dark;
      }
    }
  }
}