.slider {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.3;
    background: #000000;
  }
  .slider__text {
    opacity: 0.864508;
    transform: translateZ(0px) translateY(-2.54048%);
    .slider__title {
      color: $white-color;
      line-height: 1.2;
      font-weight: 400;
    }
    .slider__description {
      font-size: 20px;
      line-height: 1.5;
      font-weight: 300;
      color: rgba(255,255,255,0.8);
    }
    .slider__btn {
      border: 1px solid $pink-dark-color;
      color: $white-color;
      background: $pink-dark-color;
    }
  }
}