.staticstic-wrapper {
  position: relative;
  margin-top: -80px;
  background: $white-color;
  height: auto;
  .staticstic__item {
    .text {
      padding: 3rem 0;
      .staticstic--icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        background: $gray-light;
        margin: 0 auto;
        .flaticon-house {
          font-size: 40px;
          color: $pink-dark-color;
        }
      }
      .staticstic--number {
        font-size: 34px;
        font-weight: 500;
        margin: 10px 0;
      }
      .staticstic__txt {
        display: block;
        color: rgba(0, 0, 0, 0.8);
      }
      .staticstic--md{
        font-size: 18px;
      }
    }
  }
  .staticstic__item:nth-child(even) {
    background: $gray-light;
    .text {
      .staticstic--icon {
        background: $white-color;
      }
    }
  }
}