.wellcome {
  background: $gray-medium;
  .wellcome-heading {
    margin: 40px 0;
    .wellcome-sub-heading {
      color: $pink-dark-color;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      margin-bottom: 5px;
      display: block;
    }
    .wellcome__title {
      font-size: 44px;
      text-transform: capitalize;
      margin-bottom: 1.5rem;
    }
    .wellcome__description {
      color: $global-color;
    }
  }
  .wellcome__image {
    height: 100%;
    .wellcome--overlay {
      padding: 40px;
      background: $pink-dark-color;
      .watch {
        text-transform: uppercase;
        color: $white-color;
        letter-spacing: 2px;
      }
    }
  }
}