/* Error: Undefined variable.
 *    ,
 * 11 |   background-color: $gray-normal;
 *    |                     ^^^^^^^^^^^^
 *    '
 *   card.scss 11:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 11 \2502    background-color: $gray-normal;\a    \2502                      ^^^^^^^^^^^^\a    \2575 \a   card.scss 11:21  root stylesheet";
}
