.ftco-navbar-light {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 15px;
  background: $black-color !important;
  .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255);
    letter-spacing: 0.1em;
    font-size: 16px;
    padding-right: 0;
    text-transform: uppercase;
  }
  &.scrolled {
    position: fixed;
    background: $white-color !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0.1);
  }
  &.awake {
    margin-top: 0;
    -webkit-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
  }
}