/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: #e50050;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #222222;
  text-decoration: underline;
}

.pr-4, .px-4 {
  padding-right: 1.5em;
}

.pl-4, .px-4 {
  padding-left: 1.5em;
}

.pt-3, .py-3 {
  padding-top: 1em;
}

.pb-3, .py-3 {
  padding-bottom: 1em;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

* {
  box-sizing: border-box;
}

.card__flex--center, .card__horizontal .card__item .card__information {
  display: flex;
  align-items: center;
}

.card__horizontal {
  display: flex;
  justify-content: space-between;
  background-color: #3a414e;
  margin: 15px;
}
.card__horizontal .card__item {
  text-decoration: none;
  max-width: 150px;
}
.card__horizontal .card__item .card__image img {
  width: 1.5rem;
  height: 100px;
  object-fit: cover;
}
.card__horizontal .card__item .card__information {
  justify-content: space-between;
  background-color: #ffffff;
  padding: 5px;
}
.card__horizontal .card__item .card__information .card__information--content {
  color: #3a414e;
}
.card__horizontal .card__item .card__information .btn--more {
  color: #3a414e;
  outline: none;
  border-bottom: 1px solid #3a414e;
  font-size: 10px;
}
.card__horizontal:hover .card__image img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  animation: transform 2s ease-in-out 0.5s;
  -webkit-transition: transform 2s ease-in-out 0.5s;
  -o-transition: transform 2s ease-in-out 0.5s;
}

.card__vertical {
  background-color: #3a414e;
  margin: 15px;
}
.card__vertical .card__item {
  display: flex;
  text-decoration: none;
  margin: 15px 0;
}
.card__vertical .card__item .card__image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.card__vertical .card__item .card__information {
  background-color: #ffffff;
  padding: 10px 20px;
  width: 100%;
}
.card__vertical .card__item .card__information .card__information--content {
  color: #3a414e;
}
.card__vertical .card__item .card__information .btn--more {
  color: #3a414e;
  outline: none;
  font-size: 10px;
  border-bottom: 1px solid #3a414e;
}

.slider {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.3;
  background: #000000;
}
.slider .slider__text {
  opacity: 0.864508;
  transform: translateZ(0px) translateY(-2.54048%);
}
.slider .slider__text .slider__title {
  color: #ffffff;
  line-height: 1.2;
  font-weight: 400;
}
.slider .slider__text .slider__description {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.slider .slider__text .slider__btn {
  border: 1px solid #6e5773;
  color: #ffffff;
  background: #6e5773;
}

.staticstic-wrapper {
  position: relative;
  margin-top: -80px;
  background: #ffffff;
  height: auto;
}
.staticstic-wrapper .staticstic__item .text {
  padding: 3rem 0;
}
.staticstic-wrapper .staticstic__item .text .staticstic--icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  background: #f2f2f2;
  margin: 0 auto;
}
.staticstic-wrapper .staticstic__item .text .staticstic--icon .flaticon-house {
  font-size: 40px;
  color: #6e5773;
}
.staticstic-wrapper .staticstic__item .text .staticstic--number {
  font-size: 34px;
  font-weight: 500;
  margin: 10px 0;
}
.staticstic-wrapper .staticstic__item .text .staticstic__txt {
  display: block;
  color: rgba(0, 0, 0, 0.8);
}
.staticstic-wrapper .staticstic__item .text .staticstic--md {
  font-size: 18px;
}
.staticstic-wrapper .staticstic__item:nth-child(even) {
  background: #f2f2f2;
}
.staticstic-wrapper .staticstic__item:nth-child(even) .text .staticstic--icon {
  background: #ffffff;
}

.wellcome {
  background: #f8f9fa;
}
.wellcome .wellcome-heading {
  margin: 40px 0;
}
.wellcome .wellcome-heading .wellcome-sub-heading {
  color: #6e5773;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  display: block;
}
.wellcome .wellcome-heading .wellcome__title {
  font-size: 44px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.wellcome .wellcome-heading .wellcome__description {
  color: #999999;
}
.wellcome .wellcome__image {
  height: 100%;
}
.wellcome .wellcome__image .wellcome--overlay {
  padding: 40px;
  background: #6e5773;
}
.wellcome .wellcome__image .wellcome--overlay .watch {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
}

.about-us .about-us-heading {
  margin: 40px auto;
}
.about-us .about-us-heading .about-us-sub-heading {
  color: #6e5773;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  display: block;
}
.about-us .about-us-heading .about-us__title {
  font-size: 44px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.about-us .about-us-heading .about-us__description {
  color: #999999;
}
.about-us .about-us-user .img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.about-us .about-us-user .text {
  padding: 1rem 0;
  letter-spacing: 0.0625rem;
}
.about-us .about-us-user .text span {
  color: #6e5773;
  display: block;
  font-size: 1rem;
}

.ftco-navbar-light {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 15px;
  background: #000000 !important;
}
.ftco-navbar-light .navbar-toggler {
  border: none;
  color: white;
  letter-spacing: 0.1em;
  font-size: 16px;
  padding-right: 0;
  text-transform: uppercase;
}
.ftco-navbar-light.scrolled {
  position: fixed;
  background: #ffffff !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px 0 black;
}
.ftco-navbar-light.awake {
  margin-top: 0;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

/*# sourceMappingURL=main.css.map */
